* {
	margin: 0;
	padding: 0;
}
html {
	height: 100%;
}
body {
	font: 12px/18px Arial, sans-serif;
	width: 100%;
	height: 100%;
}


.wrapper {
	width: 1000px;
	margin: 0 auto;
	min-height: 100%;
	height: auto !important;
	height: 100%;
}

/* Header
-----------------------------------------------------------------------------*/
.header {
	height: 165px;
	background: linear-gradient(to top, #fff, #f0f0f0);
}
.logo{
	display: block;
	width: 250px;
	height: 150px;
	background: url(book3.png);
	background-size: 250px 150px;
	text-indent: -9999px;
	overflow: hidden;
	margin-top: 0px;
}
.logo a{
	display: block;
	height: 100%;
}
#search{
	width: 400px;
	height: 60px;
	margin-top: -135px;
	float: right;
}
#search input{
	width: 200px;
	height: 30px;
	background-image: url(search.png);
	background-repeat: no-repeat;
	background-position: 165px 3px;
	background-color: #fcfcfc;
	border-radius: 7px;
	border: 1px solid #bbb;
	padding: 0 5px;
	outline: none;
}
#search a{
	border: 1px solid #bbb;
	position: absolute;
	margin: -28px 250px;
	padding: 5px 10px;
	border-radius: 7px;
	background-color: #fcfcfc;
	font-size: 13px;
	text-decoration: none;
	color: #bbb;
}
/* Middle
-----------------------------------------------------------------------------*/
.middle {
	width: 100%;
	padding: 0 0 100px;
	position: relative;
}
.middle:after {
	display: table;
	clear: both;
	content: '';
}
.container {
	width: 100%;
	float: left;
	overflow: hidden;
}
.content {
	margin-left:270px;
}
.content table{
	border-color: #f0f0f0;
	margin: 15px;
}

.editDelete {
	width: 20%;
}

.add {
	padding: 5px;
}

.content input{
	/*width: 150px;
	height: 20px;*/
	color: #666;
	font-size: 14px;
}

.nomer{
	width: 40%;
	margin: 0px auto;
 }
.nomer ul li{
	display: inline-block;

}
.next{
  	float: right;
  	border: 1px solid black;
  	border-radius: 2px;
}
.prev{
	float: left;
	border: 1px solid black;
	border-radius: 2px;
}
.nomer ul{
	text-align: center;
}

.nomer ul li{
	border: 1px solid #bbb;
	background: #f0f0f0;
	padding: 7px;
	border-radius: 2px;
}
.nomer ul li a{
	color: #666666;
	text-decoration: none;
}
.nomer ul li a:hover{
	text-decoration: underline;
}
.myTable {
	width: 90%;
	margin: 15px;
	border-collapse: collapse;
}
.myTable td {
	width: 50px;
	height: 20px;
	text-align: center;
	font-size: 14px;
	border: 1px solid #f0f0f0;
}

.myTable th {
	font-weight: bold;
	border: 1px solid #f0f0f0;
}

label {
	font-size: 14px;
}
/* Left Sidebar
-----------------------------------------------------------------------------*/
.left-sidebar {
	float: left;
	width: 200px;
	height: 400px;
	/*position: relative;*/
	background: #fff;
	background-repeat: no-repeat;
	background-size: 200px 280px;
	background-position: 0 120px;
	border-right: 2px solid #f0f0f0;
}
.left-sidebar ul{
	margin: 20px 10px;
}
.left-sidebar li{
	list-style: none;
	margin: 10px 0;
	font-size: 16px;	
}
.left-sidebar li a{
	font-family: Tahoma, sans-serif;
	color: #bbb;
	text-decoration: none;
}
.left-sidebar li a:hover{
	text-decoration: underline;
}
/* Footer
-----------------------------------------------------------------------------*/
.footer {
	width: 1000px;
	margin: -70px auto 0;
	height: 70px;
	background: linear-gradient(to bottom, #fff, #f0f0f0);
	clear: both;
}
.copyright{
	padding-top: 40px;
	margin-left: 400px;
	width: 300px;
	height: 20px;
}
.copyright a{
	font-size: 13px;
	font-family: Tahoma, sans-serif;
	color: #bbb;
	text-decoration: none;
}
.copyright a:hover{
	text-decoration: underline;
}
.error-message {
	color: red;
	font-size: 12px;
}
.relative-block {
	position:relative;
}
